[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camunda-external-task-client-python3 = "==4.5.0"
python-dotenv = "==1.0.1"
pydantic = "==2.8.2"
prometheus-client = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
